@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        @if(flash.containsKey("success")) {
            <ul class="success">
                <li class="align-center">@Html(flash.get("success"))</li>
            </ul>
        }

        @if(flash.containsKey("error")) {
            <ul class="error">
                <li class="align-center">@Html(flash.get("error")))</li>
            </ul>
        }

        @if(flash.containsKey("warning")) {
            <ul class="warning">
                <li class="align-center">@Html(flash.get("warning"))</li>
            </ul>
        }

        @content

        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
